.App {
  width:80%;
  padding: 30px;
  border: 10px solid #eeee;
  /* margin: 16px auto; */
  margin:  16px auto;
  box-shadow:0px 2px 3px #eeee;
  text-align: center;
  background-color: blueviolet;
}

/* .categoryAcc{
  width: 60%;
  box-shadow:0px 2px 3px #eeee;
  margin:  16px auto;

} */
.Table{
  /* width: 900px; */

  font-size: x-large;
  margin:  5px auto 50px auto;
  border-collapse: collapse;
}
th{
  padding: 20px;
  border-right:1px solid black;
  border-left:1px solid black;
}
tr{
  border-bottom:1px solid black;
  border-top:1px solid black;
}
.Q-text{
  width: 800px;
  font-size: large;
}